.container {
  background-color: var(--accent);
  color: var(--text);
  box-shadow: 0 6px 10px var(--shadow);
  max-width: 1080px;
  padding: 2rem;
  margin: 2rem 0;
  line-height: 1.5;
}

.title {
  margin: 0;
}

.date {
  color: var(--text-sec);
  margin: 0;
}