.container {
  background-color: var(--accent);
  padding: 2rem;
  box-shadow: 0 3px 5px var(--shadow);
}

.home {
  font-size: 2em;
}

.link {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}
